
<!DOCTYPE html>
<html>
<head>	  
<meta charset="utf-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
<meta HTTP-EQUIV="Expires" CONTENT="0">
<title>Qzone Robot</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<style type="text/css">
    body
    {
    padding-bottom: 60px;
    }
    .insti-label
    {
        height:120px;
        background:#FFF8DC;
        text-align:center;
        vertical-align:middle;
        margin-bottom:1em;           
    }
</style>
</head>
<body>  
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">
                    <h1>
                        Qzone Liker App
                    </h1>
                    <p>
                        1. 手机QQ扫描二维码；
                    </p>
                    <p>
                        2. 系统挂载进程自动在空间点赞。
                    </p>
                    <p>
                         <a class="btn btn-primary btn-large" href="https://github.com/build2last/QzoneLiker">Project</a>
                    </p>
                </div>
                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <div class="page-header">
                            <h1>
                                运行情况<small>在线用户</small>
                            </h1>
                        </div>
                        <p class="lead">
                             <em>To do</em>
                        </p>
                    </div>
                    <div class="col-md-4 column">
                        <img id="qrimg"alt="140x140" src="/api/v1/qrcode/v.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--定时刷新图片-->
    <script>
    setInterval("document.getElementById('qrimg').src='/api/v1/qrcode/v.png?t=' + Math.random()",3000);
    </script>

    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
  <footer style="bottom: 0; margin-top: 20px;">
    <p align="center">An undergoing web App</p>
    <p align="center">Tornado with Python2.7</p>
  </footer>
</html>
    